[submodule "thirdparty/emsdk"]
	path = thirdparty/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "modules/cruz-core/thirdparty/glfw"]
	path = modules/cruz-core/thirdparty/glfw
	url = https://github.com/glfw/glfw
